services:
  backend:
    build:
      context: ./backend
      target: dev
    ports:
      - "3001:3001"
    volumes:
      - "./backend:/usr/src/app"
    networks:
      - clipboard

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "3020:3000"
    environment:
      BACKEND_SERVER: backend
    volumes:
      - "./frontend:/usr/src/app"
    networks:
      - clipboard

networks:
  clipboard:
    driver: bridge
    ipam:
        driver: default
        config:
        - subnet: 10.0.12.0/24
